<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <base href="https://static.iamone.link" />
   <meta name="author" content="Rajat Sharma" />
   <meta name="keywords" content="iamone, iamone.link, social media, link page, links, personal link page, link website, bio link" />

   {{#if page.title }}
   <title>{{ page.title }}</title>
   <meta property="og:title" content="{{ page.title }}" />
   <meta property="twitter:title" content="{{ page.title }}">
   {{else}}
   <title>@{{ user.username }} • iamone</title>
   <meta property="og:title" content="@{{ user.username }} • iamone" />
   <meta property="twitter:title" content="@{{ user.username }} • iamone">
   {{/if}}

   {{#if page.description }}
   <meta name="description" content="{{ page.description }}" />
   <meta property="og:description" content="{{ page.description }}" />
   <meta property="twitter:description" content="{{ page.description }}" />
   {{else if user.bio}}
   <meta name="description" content="{{ user.bio }}" />
   <meta property="og:description" content="{{ user.bio }}" />
   <meta property="twitter:description" content="{{ user.bio }}" />
   {{else}}
   <meta name="description" content="See my personal link page" />
   <meta property="og:description" content="See my personal link page" />
   <meta property="twitter:description" content="See my personal link page" />
   {{/if}}

   <meta property="twitter:card" content="summary_large_image" />
   <meta property="og:url" content="https://iamone.link/{{ user.username }}" />
   <meta property="twitter:url" content="https://iamone.link/{{ user.username }}" />
   <meta property="og:image" content="/images/open-graph-thumb.png" />
   <meta property="twitter:image" content="/images/open-graph-thumb.png" />

   <meta property="og:site_name" content="iamone" />
   <meta property="og:type" content="website" />
   <meta property="og:locale" content="en_IN" />
   <meta name="application-name" content="iamone" />

   {{#if user.imageHash}}
   <link rel="shortcut icon" href="https://gateway.ipfs.io/ipfs/{{ user.imageHash }}" type="image/x-icon" />
   <link rel="icon" href="https://gateway.ipfs.io/ipfs/{{ user.imageHash }}" type="image/webp" />
   {{else}}
   <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />
   <link rel="icon" href="/icons/favicon.ico" type="image/png" />
   {{/if}}

   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap" />
   <link rel="stylesheet" href="/css/page/master.css" />
   <link rel="stylesheet" href="/css/page/default.css" />
   <style lang="css" type="text/css">{{ css }}</style>
   <script src="/js/page/icons.js"></script>
</head>

<body class="page__body">
   <div class="page__content">
      {{{ body }}}

      <a href="https://iamone.link" target="_blank" class="page__logo" title="iamone.link">
         <svg class="page__logo-image" viewBox="0 0 122 44" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.2224 24.984V22.632H24.1664V24.984H22.2224ZM22.2944 39V27H24.0944V39H22.2944ZM32.2803 39.192C31.1123 39.192 30.0883 38.92 29.2083 38.376C28.3443 37.816 27.6723 37.064 27.1923 36.12C26.7123 35.176 26.4723 34.136 26.4723 33C26.4723 31.848 26.7123 30.808 27.1923 29.88C27.6723 28.936 28.3443 28.192 29.2083 27.648C30.0883 27.088 31.1123 26.808 32.2803 26.808C33.2723 26.808 34.1203 27 34.8243 27.384C35.5443 27.768 36.1283 28.288 36.5763 28.944V27H38.3763V39H36.5763V37.08C36.1283 37.72 35.5443 38.232 34.8243 38.616C34.1203 39 33.2723 39.192 32.2803 39.192ZM32.5203 37.56C33.4163 37.56 34.1683 37.352 34.7763 36.936C35.4003 36.52 35.8723 35.968 36.1923 35.28C36.5123 34.576 36.6723 33.816 36.6723 33C36.6723 32.168 36.5123 31.408 36.1923 30.72C35.8723 30.032 35.4003 29.48 34.7763 29.064C34.1683 28.648 33.4163 28.44 32.5203 28.44C31.6403 28.44 30.8803 28.648 30.2403 29.064C29.6003 29.48 29.1123 30.032 28.7763 30.72C28.4403 31.408 28.2723 32.168 28.2723 33C28.2723 33.816 28.4403 34.576 28.7763 35.28C29.1123 35.968 29.6003 36.52 30.2403 36.936C30.8803 37.352 31.6403 37.56 32.5203 37.56ZM41.4897 39V27H43.2897V28.824C43.5617 28.344 43.9937 27.888 44.5857 27.456C45.1777 27.024 45.9617 26.808 46.9377 26.808C47.7377 26.808 48.4737 27.024 49.1457 27.456C49.8337 27.872 50.3697 28.464 50.7537 29.232C50.9137 28.96 51.1617 28.632 51.4977 28.248C51.8497 27.864 52.3057 27.528 52.8657 27.24C53.4257 26.952 54.0977 26.808 54.8817 26.808C55.6497 26.808 56.3697 27.008 57.0417 27.408C57.7137 27.808 58.2577 28.384 58.6737 29.136C59.1057 29.872 59.3217 30.744 59.3217 31.752V39H57.5217V31.8C57.5217 30.792 57.2337 29.984 56.6577 29.376C56.0977 28.752 55.3937 28.44 54.5457 28.44C53.6657 28.44 52.9057 28.736 52.2657 29.328C51.6257 29.92 51.3057 30.752 51.3057 31.824V39H49.5057V31.8C49.5057 30.792 49.2177 29.984 48.6417 29.376C48.0817 28.752 47.3777 28.44 46.5297 28.44C45.6497 28.44 44.8897 28.736 44.2497 29.328C43.6097 29.92 43.2897 30.752 43.2897 31.824V39H41.4897ZM67.5336 39.192C66.3176 39.192 65.2616 38.92 64.3656 38.376C63.4696 37.816 62.7816 37.064 62.3016 36.12C61.8216 35.176 61.5816 34.136 61.5816 33C61.5816 31.848 61.8216 30.808 62.3016 29.88C62.7816 28.936 63.4696 28.192 64.3656 27.648C65.2616 27.088 66.3176 26.808 67.5336 26.808C68.7656 26.808 69.8216 27.088 70.7016 27.648C71.5976 28.192 72.2856 28.936 72.7656 29.88C73.2456 30.808 73.4856 31.848 73.4856 33C73.4856 34.136 73.2456 35.176 72.7656 36.12C72.2856 37.064 71.5976 37.816 70.7016 38.376C69.8216 38.92 68.7656 39.192 67.5336 39.192ZM67.5336 37.56C68.4296 37.56 69.1816 37.352 69.7896 36.936C70.4136 36.52 70.8856 35.968 71.2056 35.28C71.5256 34.576 71.6856 33.816 71.6856 33C71.6856 32.168 71.5256 31.408 71.2056 30.72C70.8856 30.032 70.4136 29.48 69.7896 29.064C69.1816 28.648 68.4296 28.44 67.5336 28.44C66.6536 28.44 65.9016 28.648 65.2776 29.064C64.6536 29.48 64.1816 30.032 63.8616 30.72C63.5416 31.408 63.3816 32.168 63.3816 33C63.3816 33.816 63.5416 34.576 63.8616 35.28C64.1816 35.968 64.6536 36.52 65.2776 36.936C65.9016 37.352 66.6536 37.56 67.5336 37.56ZM75.8725 39V27H77.6725V28.872C78.1045 28.296 78.6325 27.808 79.2565 27.408C79.8805 27.008 80.6805 26.808 81.6565 26.808C82.4885 26.808 83.2645 27.008 83.9845 27.408C84.7205 27.792 85.3125 28.376 85.7605 29.16C86.2245 29.928 86.4565 30.88 86.4565 32.016V39H84.6565V32.064C84.6565 30.976 84.3445 30.104 83.7205 29.448C83.0965 28.776 82.2885 28.44 81.2965 28.44C80.6245 28.44 80.0165 28.592 79.4725 28.896C78.9285 29.2 78.4885 29.632 78.1525 30.192C77.8325 30.736 77.6725 31.368 77.6725 32.088V39H75.8725ZM94.7943 39.192C93.5783 39.192 92.5143 38.92 91.6023 38.376C90.6903 37.816 89.9783 37.064 89.4663 36.12C88.9703 35.176 88.7223 34.136 88.7223 33C88.7223 31.848 88.9623 30.808 89.4423 29.88C89.9223 28.936 90.6103 28.192 91.5063 27.648C92.4023 27.088 93.4583 26.808 94.6743 26.808C95.9063 26.808 96.9623 27.088 97.8423 27.648C98.7383 28.192 99.4263 28.936 99.9062 29.88C100.386 30.808 100.626 31.848 100.626 33V33.72H90.5703C90.6663 34.424 90.8903 35.072 91.2423 35.664C91.6103 36.24 92.0983 36.704 92.7063 37.056C93.3143 37.392 94.0183 37.56 94.8183 37.56C95.6663 37.56 96.3783 37.376 96.9543 37.008C97.5303 36.624 97.9783 36.136 98.2983 35.544H100.266C99.8503 36.616 99.1863 37.496 98.2743 38.184C97.3783 38.856 96.2183 39.192 94.7943 39.192ZM90.5943 32.04H98.7543C98.5943 31.016 98.1623 30.16 97.4583 29.472C96.7543 28.784 95.8263 28.44 94.6743 28.44C93.5223 28.44 92.5943 28.784 91.8903 29.472C91.2023 30.16 90.7703 31.016 90.5943 32.04Z" />
            <path d="M23.0803 12H24.1371V8.8125H26.0462C28.0788 8.8125 28.995 7.5767 28.995 6.03409C28.995 4.49148 28.0788 3.27273 26.0291 3.27273H23.0803V12ZM24.1371 7.875V4.21023H25.995C27.4141 4.21023 27.9553 4.9858 27.9553 6.03409C27.9553 7.08239 27.4141 7.875 26.0121 7.875H24.1371ZM38.0611 7.63636C38.0611 4.875 36.4418 3.15341 34.2088 3.15341C31.9759 3.15341 30.3565 4.875 30.3565 7.63636C30.3565 10.3977 31.9759 12.1193 34.2088 12.1193C36.4418 12.1193 38.0611 10.3977 38.0611 7.63636ZM37.0384 7.63636C37.0384 9.90341 35.794 11.1307 34.2088 11.1307C32.6236 11.1307 31.3793 9.90341 31.3793 7.63636C31.3793 5.36932 32.6236 4.14205 34.2088 4.14205C35.794 4.14205 37.0384 5.36932 37.0384 7.63636ZM41.4233 12H42.5142L44.4403 5.04545H44.5085L46.4347 12H47.5256L49.9119 3.27273H48.8381L47.0142 10.3807H46.929L45.071 3.27273H43.8778L42.0199 10.3807H41.9347L40.1108 3.27273H39.0369L41.4233 12ZM51.2287 12H56.5639V11.0625H52.2855V8.09659H56.223V7.15909H52.2855V4.21023H56.4957V3.27273H51.2287V12ZM58.4006 12H59.4574V8.59091H61.3665C61.4432 8.59091 61.5156 8.59091 61.5881 8.58665L63.429 12H64.6562L62.6832 8.39489C63.7955 8.01562 64.3153 7.10795 64.3153 5.94886C64.3153 4.40625 63.3949 3.27273 61.3494 3.27273H58.4006V12ZM59.4574 7.63636V4.21023H61.3153C62.7301 4.21023 63.2756 4.90057 63.2756 5.94886C63.2756 6.99716 62.7301 7.63636 61.3324 7.63636H59.4574ZM66.0763 12H71.4116V11.0625H67.1332V8.09659H71.0707V7.15909H67.1332V4.21023H71.3434V3.27273H66.0763V12ZM75.9414 12C78.6005 12 80.1005 10.3466 80.1005 7.61932C80.1005 4.90909 78.6005 3.27273 76.0607 3.27273H73.2482V12H75.9414ZM74.305 11.0625V4.21023H75.9925C78.038 4.21023 79.0778 5.50568 79.0778 7.61932C79.0778 9.75 78.038 11.0625 75.8732 11.0625H74.305ZM85.2482 12H88.4016C90.4641 12 91.3164 10.9943 91.3164 9.68182C91.3164 8.30114 90.3619 7.55114 89.5607 7.5V7.41477C90.3107 7.21023 90.9755 6.71591 90.9755 5.59091C90.9755 4.3125 90.1232 3.27273 88.2994 3.27273H85.2482V12ZM86.305 11.0625V8.02841H88.4528C89.5948 8.02841 90.3107 8.79545 90.3107 9.68182C90.3107 10.4489 89.7823 11.0625 88.4016 11.0625H86.305ZM86.305 7.10795V4.21023H88.2994C89.4585 4.21023 89.9698 4.82386 89.9698 5.59091C89.9698 6.51136 89.2198 7.10795 88.2653 7.10795H86.305ZM92.3029 3.27273L95.4563 8.40341V12H96.5131V8.40341L99.6665 3.27273H98.4563L96.0359 7.34659H95.9336L93.5131 3.27273H92.3029Z" />
         </svg>
      </a>
   </div>

   <div class="page__blink-area"></div>
</body>

<script src="/js/page/render.js"></script>

</html>